const merge = require('lodash/merge');
const { isTestEnv } = require('../src/lib/utils/testEnv');

const db = {
  username: 'app',
  password: 'pass',
  database: isTestEnv() ? 'wagr_test' : 'wagr',
  host: '127.0.0.1',
  port: 5432,
};

module.exports = merge(
  {},
  {
    NODE_ENV: 'local',
    host: 'localhost',
    db: `postgres://${db.username}:${db.password}@${db.host}:${db.port}/${db.database}`,
    port: 8080,
    redis_host: 'localhost',
    redis_db: isTestEnv() ? 1 : 0,
  },
);
